
.list{
    background-color: black;
    text-align: center;
    margin: auto;
    margin-top: 360px;
    color: #20C20E;
    max-width: 25%;
    box-shadow: 3px 3px #20C20E, -1em 0 .4em #20C20E;
}


.btn{
    border: 0px solid #fff;
    background: none;
    padding: 4px 58x;
    font-size: 17.5px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 1.5s;
    color: #20C20E;
}

.btn2{
    color: #3498db;
}

.btn:hover{
    color: red;
}

h1 {
    font-family: 'montserrat';
}

.header{
    background: none;
}
