
.list{
    background-color: black;
    text-align: center;
    margin: auto;
    margin-top: 36px;
    color: #20C20E;
    max-width: 25%;
    box-shadow: 1px 1px #20C20E, 0em 0 1.3em #20C20E;
}


.btn{
    display: inline-block;
    border: 1px solid #20C20E;
    box-shadow: 2px 1px 1px #20C20E;
    background: none;
    padding: 4px;
    font-size: 13px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 1.5s;
    color: #20C20E;
}

.btn:hover {
    color: red;
}

h2 {
    font-family: 'montserrat';
    margin-bottom: 5px;
}

.header select {
    background: none;
    color: #20C20E;
}

.task-dropdown select {
    color: #20C20E
}

.inputbox textarea {
    border: 1px solid #20C20E;
    color: #20C20E;
}
.groupbuttons{
    transition: 1.5s;
}
.groupbuttons:hover {
    color: red;
}
