body {
    background-color: black;
}

.splash-container{
    text-align: center;
    margin-top: 360px;
    color:#20C20E;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a {
    margin-top: 56px;
    appearance: none;
    background: none;
    outline: none;
    color: #20C20E;
    text-align: center;
    border: .5px solid #20C20E;
    box-shadow: 2px 1px 1px #20C20E;
    background: none;
    padding: 4px 8px;
    font-size: 9px;
    font-family: 'montserrat';
    cursor: pointer;
}

.description-box {
    width: 380px;
    margin: auto;
}