* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    text-decoration: none;
}

.signupform input {
    appearance: none;
    background: none;
    outline: none;
    color: #20C20E;
    text-align: center;
}

button {
    appearance: none;
    background: none;
    outline: none;
    color: #20C20E;
    text-align: center;
    border: .5px solid #20C20E;
    box-shadow: 2px 1px 1px #20C20E;
    background: none;
    padding: 4px 8px;
    font-size: 9px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
}





form .innerForm .credentials {
    display: block;
    width: 300px;
    margin-bottom: 15px;
    background-color: black;
}

.credentials label {
    display: block;
    color: #20C20E;
    font-size: 13px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.login-button label {
    text-align: center;
}

label {
    color: #20C20E;

}

.signupform {
   display: block;
   margin-left: 50%;
   /* padding: 25%; */
   margin-top: 25%;
}

.signupform label {
    display:block;
    justify-content: center;
    align-content: center;
    background-color: black;
    justify-self: center;
    align-items: center;
    margin: auto;
}

.errors li {
    display: flex;
    color: red;
    margin: auto;
    justify-content: center;
    align-items: center;
}
