.home-signup {
    appearance: none;
    border: none;
    outline: none;
    color: #20C20E;
    text-align: center;
    border: .5px solid #20C20E;
    background: none;
    padding: 4px 8px;
    font-size: 9px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
}

.profile-dropdown li {
    display: block;
    color: #20C20E;
    margin: auto;
    justify-content: center;
} 