.home-signup {
    appearance: none;
    border: none;
    outline: none;
    color: #3498db;
    text-align: center;
    border: .5px solid #3498db;
    background: none;
    padding: 4px 8px;
    font-size: 9px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
}